<div class="container-fluid nav-bar d-flex flex-column ">
    <div class="nav-content d-flex flex-md-column flex-sm-row justify-content-between align-items-center">
        <div class="logo-container">
            <app-logo></app-logo>
        </div>
        <div class=" option-container d-flex flex-md-column flex-sm-row">
            <button class="add-task d-flex align-items-center justify-content-center" (click)="showForm()">
                <div class="button-text d-flex flex-row">
                    <p class="m-0 d-flex align-items-center">Add Task</p>
                    <span class="add-icon icon-Add d-flex align-items-center justify-content-center"></span>
                </div>
            </button>
            <button class="sign-out d-md-none d-sm-flex">
                Sign out<i class="icon-logout"></i>
            </button>
            <div class="nav-item-container d-none d-md-flex flex-column align-self-start w-100 d-sm-none">
                <ul>
                    @for (item of navLinks; track $index) {
                    <li><a class="d-flex align-items-center justify-content-center" href="" routerLink={{item.path}} routerLinkActive="link-active">{{item.name}}</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
   
    <div class="custom-select-container d-md-none">
        <select class="custom-selec custom-select-sm" id="inputGroupSelect01">
            @for (item of navLinks; track $index) {
                <option value={{item.path}}>{{item.name}}</option>
              }
          </select>
        
    </div>


</div>