<div class="stat-container d-flex flex-md-column flex-sm-row justify-content-between align-items-center">
    <div class="card-completed card d-flex align-items-center justify-content-center">
        <div class="stat-content d-flex align-items-center justify-content-between flex-md-column flex-sm-row">
            <span class="">
                <img src="./assets/images/card-check.png" alt="completed">
            </span>
            <div class="stat-info">
                <p class="percent">{{completedPercentage}}%</p>
                <p class="text">Completed Tasks</p>
            </div>
        </div>
    </div>
    <div class="card-active card d-flex align-items-center justify-content-center">
        <div class="stat-content d-flex align-items-center justify-content-between flex-md-column flex-sm-row">
            <span class="">
                <img src="./assets/images/card-time.png" alt="active">
            </span>
            <div class="stat-info">
                <p class="percent">{{activePercentage}}%</p>
                <p class="text">Active Tasks</p>
            </div>
        </div>
    </div>
</div>