<div class="container-fluid">
    <div class="login-main col-12 col-sm-10 col-md-8 col-lg-8">
        <div class="login-content">
            <div class="title">
                <h1 class="">To-Do App</h1>
                <p>Start organizing your life day by day</p>
            </div>
            <div class="login-form " >
                    <div id="goolge-btn"></div>
                    <p>Login with Password <a routerLink="/login">here</a>.</p>
                </div> 
        </div>
    </div>
</div>
<!-- <p-toast/> -->